<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bizita Technologies</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a class="navbar-brand">Bizitatech</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav" aria-expanded="false" aria-controls="mynav" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"id="mynav">
                <ul class="navbar navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    